*{
  margin: 0;
  padding: 0;

}

.container{
  max-width: 100vw;
  padding: 0.5rem;
  background: #2e2e2e;
}

.options {
  height: 5vh;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  column-gap: 10px;
  row-gap: 10px;
}

.viewer{
  width: 100%;
}

.layout div {
  width: 100%;
}

.viewer {
  height: 100%;
  background: #fff;
}